<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>Login  please🫡</h3>
    <br>
    <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" >
        <br><br>
        <label for="password">password:</label> 
        <input type="password" name="password" id="password" required>
        <br><br>
       <p><%= locals.message %></p>
        <button>Log in </button>
    </form>
</body>
</html>